
//@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&family=Inter:wght@100..900&family=Libre+Caslon+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

@mixin for-small-phone-only {
  @media (max-width: 320px) { @content; }
}
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
@mixin for-700-height-only {
  @media (max-height: 699px) { @content; }
}
@mixin for-800-height-only {
  @media (max-height: 790px) and (min-height: 700px) { @content; }
}
@mixin for-all-height-up {
  @media (min-height: 800px) { @content; }
}


:root {
  --primary-color: #0071fe;
  --error-color: #de172b;
  --error-bg-color: #fddfe2;
  --success-color: #21a67a;
  --success-bg-color: #e0eee4;
}


$font-sans: 'Montserrat', sans-serif;
$font-serif: "Libre Caslon Display", serif;
$mainColor: #111;
$mainColorHover: #000; 
$colorBlue: #12223b;
$colorBrown: #5B4A3F;
$colorBrownL: #af8e72;
$colorGreen: #323E3C;
$colorGreenL: #607d8b;
$grey: #9B9B9B;

//// Forms colors
$colorPrimary: #0071fe;
$colorError: #de172b;
$colorErrorBg: #fddfe2;
$colorSuccess: #21a67a;
$colorSuccessBg: #e0eee4;

$text-color: #111;


@mixin base-transition ($property: all, $dur: 0.5s, $delay: 0s){
  transition: $property $dur ease-in-out $delay;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  color: $mainColor;
  background: #fff;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    $font-sans,
    Inter,
    -apple-system,
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  @include for-small-phone-only {
    font-size: 14px;
  }

  @include for-phone-only {
    font-size: 14px;
  }

  @include for-tablet-portrait-up {
    font-size: 16px;
  }

  @include for-big-desktop-up {
    // font-size: 16px;
  }
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
/// 

h1 {
  @include for-phone-only {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  @include for-tablet-portrait-up {
    font-size: 2.75rem;
    line-height: 3rem;
  }
}

h2 {

  @include for-phone-only {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @include for-tablet-portrait-up {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

h3 {

  @include for-phone-only {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @include for-tablet-portrait-up {
    font-size: 2rem;
    line-height: 2rem;
  }
}

h1,
h2,
h3 {
  font-family: $font-sans;
  color: $mainColor;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0px;
}

p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.15rem;
  margin-bottom: 1.1rem;
}

.text-accent p {
  font-weight: 400;
  line-height: 1.35;
  font-size: 1.5rem;
}

b,
strong {
  font-weight: 600;
}

a {
  color: $mainColor;
  text-decoration: none;
}


////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  color: #fff;
  background: $mainColor;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  //padding: 1.25rem 2.25rem;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  @include base-transition(all, .25s);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #fff;
    background: #333;
  }


  &.white {
    border: 1px solid rgba(255, 255, 255, 0.525);
    color: #fff;

    &:hover {
      background: #ffffff29;
    }

  }

  &.black {
    color: #fff;
    background: #111;

    &:hover {
      background: #333;
    }

  }

  &.inverse {
    border: 1px solid rgb(207, 207, 207);
    background: #fff;
    color: #030303;

    &:hover {
      opacity: .5;
    }
  }

  &.sm {
    padding: .75rem .75rem;
    letter-spacing: 0px;
  }
}


*,
:after,
:before {
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
}

.img-cover {
  border: none;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.section-title {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px #ddd solid;
  
  @include for-phone-only {
    padding: 1rem 0;
  }
  @include for-tablet-portrait-up {
    padding: 3rem 0;
  }
  @include for-desktop-up {
    padding: 3rem 0;
  }
}
